#!/bin/bash
# All
#OC_VS=(2000 2010 2011 2020 2031 2101 2102 2200 2302 3000 3011 3012 3020 3032 3033 3035 3036 3037)

# Medium
OC_VS=(2000 2010 2101 2200 2302 3000 3037)

DB_DRIVER=mysqli
DB_HOSTNAME=localhost
DB_USER=homestead
DB_PASS=secret
DB_PORT=3306

# Prefix for database name. Not table prefix!
PREFIX_DB=opencart_

DOMAIN=http://localhost/oc.testplace
REWRITE_BASE=/oc.testplace/

FTP_STATUS=1
FTP_USERNAME=vagrant
FTP_PASSWORD=vagrant
FTP_PORT=21
FTP_HOSTNAME=192.168.10.10
